.checkbox{
    border-radius: 2px;
    border: 1px solid #000000;
    width: 45px ;
    height: 45px ;
    background: #FF4D35;
    min-width: 45px;
}
.checkbox-unactive{
    border-radius: 2px;
    border: 1px solid #000000;
    width: 45px;
    height: 45px;
    min-width: 45px;
}